{% extends "Utechdata/layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{#{% block head_title %}{% trans "Sign In" %}{% endblock %}#}
<div class="container">
    {% block content %}
        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <div class="container col-lg-12">
            <h1>{% trans "Sign In" %}</h1>

            {% get_providers as socialaccount_providers %}

{#            {% if socialaccount_providers %}#}
{#                <p>{% blocktrans with site.name as site_name %}Please sign in with one#}
{#                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
{#                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}
{##}
{#                <div class="socialaccount_ballot">#}
{##}
{#                    <ul class="socialaccount_providers">#}
{#                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#                    </ul>#}
{##}
{#                    <div class="login-or">{% trans 'or' %}</div>#}
{##}
{#                </div>#}
{##}
{#                {% include "socialaccount/snippets/login_extra.html" %}#}
{##}
{#            {% else %}#}
{#                <p>{% blocktrans %}If you have not created an account yet, then please#}
{#                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
{#            {% endif %}#}

            {% if socialaccount_providers %}
            <div class="row">
                <div class="col-lg-12 center-aligned">
                    <div style="margin: auto">
{#                        <p class="hint-text">Sign in with your social media account</p>#}
                        <div class="social-btn text-center">
                            <a href="/accounts/facebook/login/?process=login" class="btn btn-primary btn-lg" title="Facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" class="btn btn-info btn-lg" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                            <a href="/accounts/google/login/?process=login" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="or-seperator"><b>or</b></div>
        {% endif %}

            <form class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-3 field-label-responsive">
                    <label for="id_login">Email:</label>
                    </div>
                    <div class="col-lg-8">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 100%">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-envelope"></i></div>
                            <input name="login" class="form-control" placeholder="myemailaddress@mail.com" autofocus="autofocus" maxlength="150" required="" id="id_login" type="email">
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                    <div class="col-lg-3 field-label-responsive">
                    <label for="id_password">Password:</label>
                    </div>
                    <div class="col-lg-8">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 100%">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input name="password" class="form-control" placeholder="Password" required="" id="id_password" type="password">
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-4">
                        <p><label for="id_remember">Remember Me:</label>
                            <input name="remember" id="id_remember" type="checkbox"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p class="pull-right"> Don't have an account? <strong> <a href="/accounts/signup/">
                            Create Here!</a></strong></p>
                    </div>
                    <div class="col-lg-5">
                        <button type="submit" class="btn btn-primary btn-lg pull-right button"><i
                                class="fa fa-user-plus"></i> Log In
                        </button>
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="col-lg-6">&nbsp;</div>#}
{#                    <div class="col-lg-2">#}
{#                        <a class="primaryAction button btn aligned" href="/accounts/signup">Create New!</a>#}
{#                    </div>#}
{#                    <div class="col-lg-2">#}
{#                        <a class="secondaryAction button btn" href="/accounts/password/reset/">Forgot Password?</a>#}
{#                    </div>#}
{#                    <div class="col-lg-2">#}
{#                        <button class="primaryAction button btn" type="submit" >Sign In</button>#}
{#                    </div>#}
{#                </div>#}


{#                {{ form.as_p }}#}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
            </form>
        </div>
        </div>
    {% endblock %}
