/*{#html, body {#}*/
/*{#  font-family: 'Roboto', 'Helvetica', sans-serif;#}*/
/*{#}#}*/
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);

}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
    width:20%;
    margin-left:.1%;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;

}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


/* user card personal info page styiling css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
body,
html,
.wrapper {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #404040;
}
.wrapper {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #62075c), color-stop(1, #c30eb8));
  background: -webkit-linear-gradient(left bottom, #62075c 0, #c30eb8 100%);
  background: -moz-linear-gradient(left bottom, #62075c 0, #c30eb8 100%);
  background: -o-linear-gradient(left bottom, #62075c 0, #c30eb8 100%);
  background: -ms-linear-gradient(left bottom, #62075c 0, #c30eb8 100%);
  background: linear-gradient(left bottom, #62075c 0, #c30eb8 100%);
  position: relative;
  z-index: 1;
}
.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("http://remtsoy.com/experiments/user_card/img/food.png");
  z-index: 2;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.wrapper-inner {
  position: relative;
  z-index: 3;
  height: 100%;
}
.box-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 40px;
  z-index: 1;
}
.box {
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 1px rgba(0,0,0,0.1);
  box-shadow: 0 4px 1px rgba(0,0,0,0.1);
  width: 480px;
  background: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 65px;
}
.box-inner {
  padding: 30px;
}
.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #c30eb8 , 0 0 0 8px #fff;
  box-shadow: 0 0 0 3px #c30eb8 , 0 0 0 8px #fff;
  top: -75px;
  margin-left: -75px;
  left: 50%;
  position: absolute;
}
.avatar img {
  width: 150px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}
.name,
.followers-title {
  font-size: 38px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
  color: #3a3a3a;
}
.occupation {
  font-size: 18px;
  font-style: italic;
  color: #707070;
  margin-bottom: 2px;
}
.location {
  color: #b3b3b3;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.location .fa {
  color: #c6c6c6;
  margin-right: 4px;
}
.followers-title {
  font-size: 30px;
  color: #666;
  margin-bottom: 5px;
}
.followers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 5px;
  display: table;
  margin: 0 auto;
}
.followers-list > li {
  display: block;
  float: left;
  margin: 0 5px;
}
.followers-list > li a {
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  height: 45px;
  width: 45px;
  text-decoration: none;
}
.followers-list > li a img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 45px;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 45px;
}
.followers-list > li a:hover img {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.followers-list > li.follow-list-item a {
  background: #4d4d4d;
  color: #fff;
}
.followers-list > li.follow-list-item a:hover {
  background: #c30eb8;
}
.followers-list > li.follow-list-item .fa-plus {
  display: block;
  height: 45px;
  width: 45px;
  line-height: 45px;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 1px;
  display: table;
  margin: 0 auto;
}
.social-list > li {
  float: left;
  display: block;
}
.social-list > li > a {
  display: block;
  width: 45px;
  height: 55px;
  line-height: 55px;
  font-size: 28px;
  text-decoration: none;
  color: #b3b3b3;
  border-right: 1px solid #ededed;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.social-list > li > a:hover {
  background: #c30eb8;
  color: #fff;
}
.social-list > li > a:hover.fa-facebook {
  background: #3b5998;
}
.social-list > li > a:hover.fa-dribbble {
  background: #c32361;
}
.social-list > li > a:hover.fa-twitter {
  background: #55acee;
}
.social-list > li > a:hover.fa-pinterest {
  background: #cd2129;
}
.social-list > li > a:hover.fa-linkedin {
  background: #1683bc;
}
.social-list > li:last-child > a {
  border-right: none;
}
