{% load static %}
{% block header %}
    {% include 'Utechdata/dashboard-head.html' %}
{% endblock %}
{% block body %}
    {% block dashboard_header %}
        {% include 'Utechdata/dashboard-header.html' %}
    {% endblock %}
    {% block navbar %}
        {% include 'Utechdata/dashboard-nav.html' %}
    {% endblock %}
    <main class="mdl-layout__content mdl-color--grey-100"
          style="margin-left: 20%;">
    {% block content %}

    {% endblock %}
    {% block footer %}
    {% include 'Utechdata/dashboard-footer.html' %}
    {% endblock %}
{% endblock %}